* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg,
      #64beff -50%,
      #6e96ff 69.71%,
      #2a65ff 150%);
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  position: relative;
  width: 240px;
  height: 208px;
  background: url(/images/map.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  /* text-transform: uppercase; */
}

input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 19px;
}

.Character {
  transition: transform 0.4s;
}

.Character.you {
  z-index: 1;
}

.Character.you .Character_you-arrow {
  display: block;
}

.Character_you-arrow {
  display: none;
  position: absolute;
  top: -18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
}

.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
}

.Character[data-animation-state="idle"] .Character_sprite {
  background: url(/images/characters.png);
}

.Character[data-direction="right"] .Character_sprite {
  background-position-x: 19px;
}

.Character[data-color="red"] .Character_sprite {
  background-position-y: -19px;
}

.Character[data-color="orange"] .Character_sprite {
  background-position-y: -38px;
}

.Character[data-animation-state="walking"] .Character_sprite {
  background: url("images/CharacterRunSpriteSheet.gif");
}

.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}

.Character[data-color="red"] .Character_sprite {
  background-position-y: -19px;
}

.Character[data-color="orange"] .Character_sprite {
  background-position-y: -38px;
}

.Character[data-animation-state="kick"] .Character_sprite {
  background: url("images/KickCharacterSpriteSheet.gif");
}

.Character[data-animation-state="kick"][data-color="blue"][data-direction="left"] .Character_sprite {
  background-position-y: 0px;
  background-position-x: 1px;
}

.Character[data-animation-state="kick"][data-color="blue"][data-direction="right"] .Character_sprite {
  background-position-x: 15px;
}

.Character[data-animation-state="kick"][data-color="red"][data-direction="right"] .Character_sprite {
  background-position-y: -17px;
  background-position-x: 15px;
}

.Character[data-animation-state="kick"][data-color="red"][data-direction="left"] .Character_sprite {
  background-position-y: -17px;
  background-position-x: 1px;
}

.Character[data-animation-state="kick"][data-color="orange"][data-direction="left"] .Character_sprite {
  background-position-y: -36px;
  background-position-x: 1px;
}

.Character[data-animation-state="kick"][data-color="orange"][data-direction="right"] .Character_sprite {
  background-position-x: -14px;
  background-position-y: -36px;
}

.Character[data-animation-state="hit"] .Character_sprite {
  background: url("images/HitCharacterSpriteSheet.gif");
}

.Character[data-animation-state="hit"][data-color="blue"][data-direction="left"] .Character_sprite {
  background-position-y: 0px;
  background-position-x: 1px;
}

.Character[data-animation-state="hit"][data-color="blue"][data-direction="right"] .Character_sprite {
  background-position-x: 15px;
}

.Character[data-animation-state="hit"][data-color="red"][data-direction="right"] .Character_sprite {
  background-position-y: -17px;
  background-position-x: 15px;
}

.Character[data-animation-state="hit"][data-color="red"][data-direction="left"] .Character_sprite {
  background-position-y: -17px;
  background-position-x: 1px;
}

.Character[data-animation-state="hit"][data-color="orange"][data-direction="left"] .Character_sprite {
  background-position-y: -36px;
  background-position-x: 0px;
}

.Character[data-animation-state="hit"][data-color="orange"][data-direction="right"] .Character_sprite {
  background-position-x: -15px;
  background-position-y: -36px;
}



.Character[data-animation-state="pickedUp"] .Character_sprite {
  background: url("images/SSpickedUp.gif");
}

.Character[data-animation-state="pickedUp"][data-color="blue"][data-direction="left"] .Character_sprite {
  background-position-y: 0px;
  background-position-x: 0px;
  width: 18px;
  height: 25px;

}

.Character[data-animation-state="pickedUp"][data-color="blue"][data-direction="right"] .Character_sprite {
  background-position-x: 17px;
  width: 18px;
  height: 25px;
}

.Character[data-animation-state="pickedUp"][data-color="red"][data-direction="right"] .Character_sprite {
  background-position-y: -25px;
  background-position-x: 17px;
  width: 18px;
  height: 22px;
}

.Character[data-animation-state="pickedUp"][data-color="red"][data-direction="left"] .Character_sprite {
  background-position-y: -25px;
  background-position-x: 0px;
  width: 18px;
  height: 22px;
}

.Character[data-animation-state="pickedUp"][data-color="orange"][data-direction="left"] .Character_sprite {
  background-position-y: -50px;
  background-position-x: 0px;
  width: 18px;
  height: 23px;
}

.Character[data-animation-state="pickedUp"][data-color="orange"][data-direction="right"] .Character_sprite {
  background-position-y: -50px;
  background-position-x: 17px;
  width: 18px;
  height: 23;
}

/* .Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
  outline: 2px solid red;
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 19px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -19px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -38px;
} */

.Character_shadow {
  background: url(/images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.Character_coins {
  margin-left: 1px;
  color: gold;
}

/* Coins */
.Coin_sprite {
  background: url(/images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
  z-index: 1;
}

@keyframes coinFloat {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(5px);
  }
}

.Coin_shadow {
  background: url(/images/coin-shadow.png) no-repeat no-repeat;
}

/* NPCS */

.NPC {
  transition: transform 0.4s;
}
.Npc_sprite {
  background: url(/images/right.gif) no-repeat no-repeat;
  width: 16px;
  height: 16px;
  transition: transform 0.4s;
}

.NPC[data-direction="right"] .Npc_sprite {
  background: url(/images/right.gif) no-repeat no-repeat;
}

.NPC[data-direction="left"] .Npc_sprite {
  background: url(/images/left.gif) no-repeat no-repeat;
}

.NPC[data-direction="up"] .Npc_sprite {
  background: url(/images/up.gif) no-repeat no-repeat;
}

.NPC[data-direction="sitting"] .Npc_sprite {
  background: url(/images/sitting.gif) no-repeat no-repeat;
}

.NPC[data-color="green"][data-direction="right"] .Npc_sprite {
  background-image: url(images/right.gif);
}

.NPC[data-color="green"][data-direction="up"] .Npc_sprite {
  background-image: url(images/up.gif);
}

.NPC[data-color="green"][data-direction="sitting"] .Npc_sprite {
  background-image: url("/images/sitting.gif");
}
.NPC[data-color="green"][data-direction="down"] .Npc_sprite {
  background-image: url("/images/down.gif");
}

.NPC[data-color="blue"][data-direction="right"] .Npc_sprite {
  background-image: url(images/right_blue.gif);
}

.NPC[data-color="blue"][data-direction="up"] .Npc_sprite {
  background-image: url(images/up_blue.gif);
}
.NPC[data-color="blue"][data-direction="sitting"] .Npc_sprite {
  background-image: url("/images/sitting_blue.gif");
}
.NPC[data-color="blue"][data-direction="down"] .Npc_sprite {
  background-image: url("/images/down_blue.gif");
}

.NPC[data-color="yellow"][data-direction="right"] .Npc_sprite {
  background-image: url(images/right_yellow.gif);
}

.NPC[data-color="yellow"][data-direction="up"] .Npc_sprite {
  background-image: url(images/up_yellow.gif);
}

.NPC[data-color="yellow"][data-direction="sitting"] .Npc_sprite {
  background-image: url("/images/sitting_yellow.gif");
}
.NPC[data-color="yellow"][data-direction="down"] .Npc_sprite {
  background-image: url("/images/down_yellow.gif");
}

/* NPC Order Bubble */
.order-bubble {
  position: absolute;
  top: -15px;
  left: 50%;
  font-size: 6px;
  padding: 1px 1px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 3;
  display: none;
}

/* Animation for the order bubble */
@keyframes orderAppear {
  0% {
    transform: translateY(10px) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.order-animation {
  animation: orderAppear 0.5s ease forwards;
}

.Pizza_sprite {
  background: url(/images/pizza-slice.png) no-repeat no-repeat;
  width: 16px;
  /* or the actual width of your pizza image */
  height: 16px;
  /* or the actual height of your pizza image */
  background-size: contain;
  /* This ensures the image fits inside the element */
  /* Adjust size if needed, and make sure the pizza.png is centered in the div */
  /*border: 1px solid red; /* Just for debugging */
  animation: pizzaFloat 0.8s linear infinite alternate-reverse;
  z-index: 2;
}

@keyframes pizzaFloat {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(5px);
  }
}

.Coffee_sprite {
  background: url(/images/coffee.png) no-repeat no-repeat;
  width: 16px;
  /* or the actual width of your pizza image */
  height: 16px;
  /* or the actual height of your pizza image */
  background-size: contain;
  /* This ensures the image fits inside the element */
  /* Adjust size if needed, and make sure the pizza.png is centered in the div */
  /*border: 1px solid red; /* Just for debugging */
  animation: coffeeFloat 0.8s linear infinite alternate-reverse;
  z-index: 2;
}

@keyframes coffeeFloat {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(5px);
  }
}

/* chatbox */
#chat-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#chat-messages {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

#chat-input {
  width: 99%;
  padding: 20px;
  margin-bottom: 5px;
}

#send-message {
  padding: 5px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
  max-width: 80%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}